server-file/target
server-file/log_*
server-file/storage_7081
server-file/storage_7082

# Environment files
**/.env*
!**/.env.example
!**/.env.server1
!**/.env.server2

# Certificates and keys
**/*.pem*
**/*.key*
**/*.crt*
**/*.local
server-file/cert.conf
server-file/file-storage.code-workspace
